<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VoteSystemWebDBEntities" connectionString="metadata=res://*/DataBase.VoteSystemWebDbContext.csdl|res://*/DataBase.VoteSystemWebDbContext.ssdl|res://*/DataBase.VoteSystemWebDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=VoteSystemWebDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>