@model SClub.VoteSystem.LogicDemo.DataBase.VoteProject


@section Styles{
    <link rel="stylesheet" href="~/Css/Project/T_Web.css"/>
}
<link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
<title>@Model.Name</title>
<div class="intro animated flipInY">
    <h1>
        赛车详情：
    </h1>
    <div class="Intro">
        <p>
            车名：@Model.Name
        </p>
        <p>
            赛车类型：T3级
        </p>
        <p>
            赛车简介：@Model.Message
        </p>
        <p>
            赛车测评：@Model.Intro
        </p>
    </div>
</div>
<div class="image">
    <div>
        <img class="no1" src="@Model.Image_F" />
        <img class="no2" src="@Model.Image_S" />
    </div>
</div>
<div class="button">
    <a class="left" href="#">
    </a>
    <a class="right" href="#">
    </a>
    <a class="movie" href="@Model.Movie" target="_blank">
    </a>
</div>
<link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="~/JS/Project/Project.js"></script>